---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-branch-clone,
  -bugprone-command-processor,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-misplaced-widening-cast,
  -bugprone-throwing-static-initialization,
  -cert-env33-c,
  -cert-err58-cpp,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -clang-analyzer-optin.*,
  -clang-analyzer-security.ArrayBound,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-avoid-c-arrays,
  -modernize-avoid-c-style-cast,
  -modernize-raw-string-literal,
  -modernize-use-designated-initializers,
  -modernize-use-integer-sign-comparison,
  -modernize-use-trailing-return-type,
  -performance-no-int-to-ptr,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-inconsistent-ifelse-braces,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-static-accessed-through-instance,
  -readability-static-definition-in-anonymous-namespace,
  -readability-uppercase-literal-suffix

WarningsAsErrors: '*'

HeaderFilterRegex: 'WinBot[/\\](src|include)[/\\].*'

FormatStyle: file

CheckOptions:
  cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: 'true'
  performance-for-range-copy.WarnOnAllAutoCopies: 'true'