CompileFlags:
  CompilationDatabase: build

  Remove:
    - /analyze*
    - /external:*
    - /MP
    - /utf-8

  Add:
    - -std=c++23
    - -fms-compatibility
    - -fms-extensions
    - -Wno-unknown-warning-option
    - -Wno-microsoft-include

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  ClangTidy:
    FastCheckFilter: None